.two_wrapper{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    
}

.left_wrapper{
    flex-grow: 2;
    background-color: rgb(251, 202, 202);
}

.right_wrapper{
    flex-grow: 1;
    background-color: rgb(253, 253, 179);
}